.productView {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productView__layout {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.productView__layout>* {
    flex-basis: 50%;
}

.layout__wrapper {
    flex-grow: 1;
    flex-basis: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layout__image {
    visibility: hidden;
    width: 100%;
    height: auto;
}

.layout__info {
    flex-grow: 1;
    min-height: 10rem;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.info__title {
    font-size: 2.4rem;
    margin: 1rem 0rem;
}

.info__price {
    font-size: 2rem;
    font-weight: bold;
}

.add__button {
    border: none;
    align-self: center;
    padding: 0.5rem 2rem;
    font-size: 2.4rem;
    background-color: #fdce4b;
    cursor: pointer;
    margin-top: 2rem;
}

@media screen and (max-width: 600px) {
    .productView__layout {
        width: 100%;
        flex-direction: column;
    }
    .productView__layout>* {
        flex-basis: 100%;
    }
}