.shop {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.shop__filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 0.1rem solid #ededed;
}

.filters__toggle {
    display: none;
    padding: 1rem 3rem;
    margin: 1rem;
    background-color: #314152;
    color: white;
    border: none;
    font-size: 1.6rem;
}

.filters__anchor {
    width: 100%;
}

.filters__dropdown {
    width: 30rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.shop__productsContainer {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .shop {
        flex-direction: column;
    }
    .filters__toggle {
        display: block;
    }
    .filters__dropdown {
        width: 100%;
        position: absolute;
        z-index: 2;
    }
    .filters__dropdown.hidden {
        display: none;
    }
}